@font-face {
    font-family: 'Lato';
    src: url(../../../asset/Lato-Medium_0.ttf);
}

.topic-header {
    background-color: #43a6df;
    font-size: 14px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    min-height: 35px;
}

.topic-infor {
    border-right: 1px solid white;
}

.topic-header .topic-infor {
    float: left;
    font-size: 16px;
    text-align: center !important;
    color: white;
}

.topic-infor.author {
    width: 15%;
}

.topic-infor.title {
    width: 40%;
}

.topic-infor.purpose {
    margin-top: 0px;
    width: 25%;
}

.topic-infor.like {
    width: 10%;
}

.topic-infor.comment {
    width: 15%;
}

.topic-infor.time {
    width: 20%;
    border-right: none;
}