@font-face {
    font-family: 'Lato';
    src: url(../../../asset/Lato-Medium_0.ttf);
}

.topic-bar {
    background: linear-gradient(90deg, #00c62b, white);
    padding: 10px 20px;
    margin-bottom: 50px;
    border-left: 5px solid #00c62b;
}

#topic-title {
    color: #00c62b;
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    line-height: 50px;
}

.topic-header {
    background-color: #43a6df;
    font-size: 14px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    min-height: 35px;
}

.topic-infor {
    border-right: 1px solid white;
}

.topic-header .topic-infor {
    float: left;
    font-size: 16px;
    text-align: center !important;
    color: white;
}

.topic-infor.author {
    width: 15%;
}

.topic-infor.title {
    width: 40%;
}

.topic-infor.purpose {
    width: 20%;
    margin-top: 0px;
}

.topic-infor.like {
    width: 10%;
}

.topic-infor.comment {
    width: 20%;
}

.topic-infor.time {
    width: 20%;
    border-right: none;
}