@font-face {
    font-family: 'Lato';
    src: url(../../../asset/Lato-Medium_0.ttf);
}

.topic2-bar {
    background: white;
    padding: 10px 20px;
    margin-bottom: 30px;
    border: 7px solid #a041e4;
    border-radius: 10px;
}

#topic2-item {
    font-size: 20px;
    margin-right: 5px;
}

#topic2-title {
    color: #949895;
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    line-height: 50px;
}