body {
    background: linear-gradient(90deg, rgb(147, 215, 255),rgb(0, 162, 255)); 
    margin: 0; 
    padding: 0; 
}

div {
    unicode-bidi: isolate;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.navbar {
    box-shadow: none;
}

.left-content {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    width: 75%;
    box-sizing: border-box;
}

.purpose {
    margin-top: 50px;
}

.recent-post {
    margin-top: 50px;
    margin-bottom: 50px;
}

.right-content {
    float: right;
    width: 17%;
    box-sizing: border-box;
    margin-right: 50px;
}

.recent-activity {
    margin-top: 50px;
}