body {
    background: linear-gradient(90deg, rgb(147, 215, 255),rgb(0, 162, 255)); 
    margin: 0; 
    padding: 0; 
}

div {
    unicode-bidi: isolate;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 5px 7px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.logo {
    height: 75px;
    width: auto;
    cursor: pointer;
}
  
.menu-list {
    list-style: none;
    margin-right: 100px;
    padding: 0;
    text-align: right; 
}

.menu-list:last-child {
    margin-right: 30px;
}

.menu-list .link {
    display: inline-block;
    margin-left: 30px;
    border-right: 1px solid #ccc; 
    padding-right: 30px; 
    transition: color 0.3s; 
}

.menu-list .link:last-child {
    border-right: none; /* Loại bỏ viền màu xám của mục menu cuối cùng */
}

.menu-list .link a {
    color:rgb(60, 217, 217);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; 
}

a.nav:hover {
    color: orange;
}

#page-title {
    text-align: center;
    margin-top: 0.3em;
    color: black;
    font-size: 24px;
    line-height: 25px;
    padding: 2px 0 15px 0;
    font-weight: normal;
    font-family: inherit;
}

.left-content {
    float: left;
    width: 75%;
    box-sizing: border-box;
}

.purpose {
    margin-top: 50px;
}

.recent-post {
    margin-top: 50px;
    margin-bottom: 50px;
}

.right-content {
    float: right;
    width: 17%;
    box-sizing: border-box;
    margin-right: 50px;
}

.recent-activity {
    margin-top: 50px;
}