@font-face {
    font-family: 'Lato';
    src: url(../../asset/Lato-Medium_0.ttf);
}

.wpforo-category {
    margin-left: 10px;
    margin-bottom: 0;
    border-bottom: 0;
    border-radius: 0;
    background-color: #43a6df;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    float: none;
}

.wpforo-cat-panel {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px 6px 20px;
    border-radius: 0 0 20px 0;
}

.cat-title {
    color: #fff;
    text-align: left;
    padding: 5px 10px 5px 0;
    font-size: 20px;
    font-weight: 600;
    cursor: default;
}

span.cat-name {
    font-size: 20px;
    font-family: system-ui;
}

.cat-icon {
    margin-right: 10px;
}

.forum-purpose {
    display: block;
    margin-left: 10px; 
}

.forum-purpose-list {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

[class^="purpose-item"] {
    width: 50%;
    min-width: 200px;
    padding: 7px 5px 5px 15px;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

.purpose-item1, .purpose-item2, .purpose-item3, .purpose-item4 {
    cursor: pointer;
}

.purpose-item1 {
    background-color: red;
}
.purpose-item1:hover {
    background-color: rgba(255, 0, 0, 0.585);
}

.purpose-item2 {
    background-color: green;
}
.purpose-item2:hover {
    background-color: rgba(0, 128, 0, 0.511);
}

.purpose-item3 {
    background-color: rgb(152, 6, 152);
}
.purpose-item3:hover {
    background-color: rgba(152, 6, 152, 0.508);
}

.purpose-item4 {
    background-color: rgb(0, 17, 255);
}
.purpose-item4:hover {
    background-color: rgba(0, 17, 255, 0.467);
}

[class^="purpose-item"] > a {
    font-weight: 500;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
}
