@font-face {
    font-family: 'Lato';
    src: url(../../asset/Lato-Medium_0.ttf);
}

.activity-title {
    padding: 20px 0 15px 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    border-bottom: 2px solid white;
}

.activity-box {
    margin-top: 25px;
}

