@font-face {
    font-family: 'Lato';
    src: url(../../asset/Lato-Medium_0.ttf);
}

.profile-bar {
    background-color: rgb(74, 218, 218);
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#profile-title {
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    line-height: 50px;
}

.loading {
    color: rgb(93, 92, 92);
    margin-left: 5px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    line-height: 50px;
}