@font-face {
    font-family: 'Lato';
    src: url(../../../asset/Lato-Medium_0.ttf);
}

.purpose-header {
    background-color: #43a6df;
    font-size: 14px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    min-height: 35px;
}

.purpose-infor {
    border-right: 1px solid white;
}

.purpose-header .purpose-infor {
    float: left;
    font-size: 16px;
    text-align: center !important;
    color: white;
}

.purpose-infor.author {
    width: 15%;
}

.purpose-infor.title {
    width: 40%;
}

.purpose-infor.topic {
    width: 33%;
    margin-top: 0px;
}

.purpose-infor.like {
    width: 10%;
}

.purpose-infor.comment {
    width: 11%;
}

.purpose-infor.time {
    width: 20%;
    border-right: none;
}