@font-face {
    font-family: 'Lato';
    src: url(../../../asset/Lato-Medium_0.ttf);
}

.purpose1-bar {
    background: linear-gradient(90deg, red, white);
    padding: 10px 20px;
    margin-bottom: 50px;
}

#purpose1-title {
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    line-height: 50px;
}
