@font-face {
    font-family: 'Lato';
    src: url(../../../asset/Lato-Medium_0.ttf);
}

.purpose3-bar {
    background: linear-gradient(90deg, rgb(152, 6, 152), white);
    padding: 10px 20px;
    margin-bottom: 50px;
}

#purpose3-title {
    color: rgb(152, 6, 152);
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    line-height: 50px;
}
