@font-face {
    font-family: 'Lato';
    src: url(../../../asset/Lato-Medium_0.ttf);
}

.purpose4-bar {
    background: linear-gradient(90deg, rgb(0, 17, 255), white);
    padding: 10px 20px;
    margin-bottom: 50px;
}

#purpose4-title {
    color: rgb(0, 17, 255);
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    line-height: 50px;
}
