* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 15px;
    background-image: url(/src/asset/white-color-background-ghw6e685ri75chj4.jpg);
}

.register-form {
    background-color: rgb(250, 223, 223);
    padding: 30px 50px;
    border: 10px solid pink;
    border-radius: 25px;
}

.title {
    padding-bottom: 10px;
}

h1 {
    color: #38caff; 
    font-size: 28px; 
    font-family: Arial, sans-serif;
    text-align: center; 
}

.inputBox {
    position: relative;
    width: 300px;
    padding-bottom: 20px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 2px solid #5162d1;
    border-radius: 5px;
    outline: none;
    color: orange;
    font-size: 1em;
}

.inputBox label {
    position: relative;
    font-size: 1em;
    color: #57db69;
    bottom: 5px;
}

::placeholder {
    position: absolute;
    left: 10;
    pointer-events: none;
    font-size: 1em;
    color: #57db69;
    transition: 0.5s;
}

.inputBoxGender {
    position: relative;
    width: 300px;
    padding-bottom: 20px;
}

.inputBoxGender select {
    width: 50%;
    padding: 5px;
    border: 2px solid #5162d1;
    border-radius: 5px;
    outline: none;
    color: orange;
    font-size: 1em;
    transition: 0.5s;
}

#gender-option {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.inputBoxAddress {
    position: relative;
    width: 300px;
    padding-bottom: 20px;
}

.inputBoxAddress label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #57db69;
}

.inputBoxAddress textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #5162d1;
    border-radius: 5px;
    outline: none;
    color: orange;
    font-size: 1em;
}

button[type="button"] {
    width: 15%;    
    padding: 5px;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    background-color: rgb(83, 83, 206);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
  
button[type="button"]:hover {
    background-color: rgb(131, 131, 196);
}

button[type="button"]:active {
    transform: scale(0.9);
}

button[type="submit"] {
    width: 50%;    
    padding: 15px;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: orange;
}

button[type="submit"]:active {
    transform: scale(0.9);
}

.login {
    position: relative;
    width: 300px;
    padding-top: 20px;
    font-size: 16px; 
    font-family: Arial, sans-serif;
}

.login span {
    font-weight: bold;
    font-style: italic; 
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

.login span:hover {
    text-decoration: underline;
}

.avatar-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    overflow: hidden; 
    margin-top: 20px;
}
  
.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.home {
    margin-top: 5px;
}

.home span{
    font-weight: bold;
    font-style: italic;
    color: green; 
    cursor: pointer;
}

.home span:hover {
    text-decoration: underline;
}
